body {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 90%;
}

h1 {
    font-size: 24px;
}

.row {
    display: flex;
}

.box {
    flex: 1;
    padding: 10px;
    text-align: left;
}

